body {
	color: #555;
}

#team {
	background: white;
}

#contact {
	background: white;
}

.logo {
	width: 350px;
	margin-bottom: 100px;
}

.navlogo {
	height: 25px;
}

.navbar-custom {
	background: white;
}

.navbar-custom a{
	color: #555;
}

.btn-default {
	background: #005ca5;
}

.btn-default:hover {
	background-color: #404041;
}

hr {
	background: #005ca5;
}

.btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #005ca5;
}

#contact .btn-default:hover, #contact .btn-default:focus {
	background-color: #005ca5;
}

#services i.fa {
	color: #005ca5;
}

.titlesmall {
	text-align: left;
}

.subtitlecase {
	margin-top: 80px;
}

.subtitlecasedes {
	text-align: center;
}

.full-width {
	width: 100%;
}

.table {
	width: 400px;
}


#about p {
	margin-top: 150px;
	margin-left:50px;
	margin-right: 50px;
}

#services h2, #services h3, #services p,
#testimonials h2, #testimonials h3, #testimonials p {
	color: #555;
}

.formm {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 400px;
}

.partnertext {
	margin-bottom: 60px;
	margin-top: 100px;
}

#footer {
	margin-top: 60px;
}
